<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Flask</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      div.welcome {
        background-color: rgb(99, 120, 189);
        color: aliceblue;
        text-align: center;
        font-size: 25px;
        height: 5rem;
        padding-top: 1.5rem;
        margin-bottom: 5rem;
        font-weight: bold;
      }

      div.center {
        text-align: center;
        font-size: 32px;
      }
    </style>
  </head>
  <body>
    <div class="welcome">失敗頁面</div>
    <div class="center">{{message}}</div>
  </body>
</html>
